<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <!-- configuration variables-->
    <property resource="service.properties" />
    <appender name="STASH" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logDirectory}/sunagriAPI.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
             <fileNamePattern>${logDirectory}/sunagriAPI.log</fileNamePattern>
             <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>
    <!-- define log level output for specific packages -->
    <logger name="org.mongodb.driver" level="INFO"/>
    <logger name="org.apache" level="INFO"/>
    <logger name="org.apache.tomcat" level="INFO"/>
    <logger name="org.glassfish.jersey" level="INFO"/>
    <logger name="i.s.c.ModelConverterContextImpl" level="ERROR"/>
    <logger name="io.swagger.jackson" level="ERROR"/>
    <!--remove swagger debug log-->
    <logger name="io.swagger" level="ERROR"/>
    <logger name="org.reflections" level="WARN"/>
    <logger name="org.openrdf" level="ERROR"/>
    
    <!-- appender by log type -->
    <root level="INFO">
         <appender-ref ref="STASH" />
    </root>
</configuration>
