<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <!-- configuration variables-->
    <property resource="service.properties" />
    <appender name="STASH" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logDirectory}/sunagriAPI.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
             <fileNamePattern>${logDirectory}/sunagriAPI.%d{yyyy-MM-dd}.log</fileNamePattern>
             <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>
    <!-- define log level output for specific packages -->
    <logger name="opensilex.service.dao" level="DEBUG" />

    <!-- appender by log type -->
    <root level="WARN">
         <appender-ref ref="STASH" />
    </root>
</configuration>
